<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
		<title>Burgers!</title>
	</head>
	<body>

	<img src="/assets/img/burger.svg" width="100px" id="burger">

		{{{ body }}}
	</body>
</html>
